<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>V2 Home Page</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="V2_Home_Page.css"/>
<script id="applicationScript" type="text/javascript" src="V2_Home_Page.js"></script>
</head>
<body>
<div id="V2_Home_Page">
	<div id="Base">
		<img id="Home_1" src="Home_1.png" srcset="Home_1.png 1x, Home_1@2x.png 2x">
			
		<svg class="Rectangle_40">
			<rect id="Rectangle_40" rx="0" ry="0" x="0" y="0" width="1163" height="58">
			</rect>
		</svg>
	</div>
	<div id="Nav_Bar">
		<div id="Sign-in">
			<span>Sign-in</span>
		</div>
		<div id="My_Trips_">
			<span>My Trips</span>
		</div>
		<div id="Explore">
			<span>Explore</span>
		</div>
		<div id="About">
			<span>About</span>
		</div>
		<div id="Home">
			<span>Home</span>
		</div>
		<div id="EXPLORA">
			<span>EXPLORA</span>
		</div>
	</div>
	<div id="Footer">
		<svg class="Rectangle_41">
			<rect id="Rectangle_41" rx="0" ry="0" x="0" y="0" width="86" height="28">
			</rect>
		</svg>
		<div id="EXPLORA_bd">
			<span>EXPLORA</span>
		</div>
	</div>
	<svg class="Slice_1_1">
		<rect id="Slice_1_1" rx="0" ry="0" x="0" y="0" width="557" height="78">
		</rect>
	</svg>
	<div id="Content">
		<svg class="Rectangle_43">
			<rect id="Rectangle_43" rx="0" ry="0" x="0" y="0" width="1210" height="108">
			</rect>
		</svg>
		<svg class="Rectangle_42">
			<rect id="Rectangle_42" rx="0" ry="0" x="0" y="0" width="1235" height="119">
			</rect>
		</svg>
		<div id="With_no_end_in_sight_to_the_CO">
			<span>With no end in sight to the COVID-19 pandemic, it will be a while before we can become tourists again.<br/><br/>In the meantime, we should take the time to get to know our cities better and support the local businesses that are struggling due to the pandemic. We’re all in this together!</span>
		</div>
		<div id="Patronise_your_local_buesiness">
			<span>Patronise your local buesinesses. Every dollar for them counts</span>
		</div>
		<div id="There_are_plenty_of_charities_">
			<span>There are plenty of charities working hard to support people displaced by the pandemic. A little donation goes a long way.</span>
		</div>
		<div id="Know_someone_in_need_Purchase_">
			<span>Know someone in need? Purchase gift cards for them to spend at local businesses</span>
		</div>
		<div id="Support_Local_Businesses">
			<span>Support Local Businesses</span>
		</div>
		<div id="Text">
			<span>+</span>
		</div>
		<div id="We_need_your_help">
			<span>We need your help!</span>
		</div>
	</div>
	<svg class="Rectangle_49">
		<rect id="Rectangle_49" rx="0" ry="0" x="0" y="0" width="166" height="58">
		</rect>
	</svg>
	<div id="Shop_Local">
		<svg class="Rectangle_45">
			<rect id="Rectangle_45" rx="0" ry="0" x="0" y="0" width="439" height="193">
			</rect>
		</svg>
		<svg class="Rectangle_44">
			<rect id="Rectangle_44" rx="0" ry="0" x="0" y="0" width="429" height="64">
			</rect>
		</svg>
		<div id="Fighting_Pandemic_Fatigue">
			<span>Fighting Pandemic Fatigue</span>
		</div>
		<div id="This_has_made_dealing_with_the">
			<span>This has made dealing with the pandemic very stressful and is resulting in “Pandemic Fatigue”. With Explora, we hope to help alleviate the pressures of the pandemic for you by introducing some variety into your routine as well as for local businesses by directing people to them.<br/><br/>Together, we’ll come out stronger!</span>
		</div>
		<div id="Russell__Rachel_Explora">
			<span>Russell & Rachel</span><br/><span style="font-style:normal;font-weight:bold;">Explora</span>
		</div>
	</div>
	<div id="Group_3">
		<svg class="Rectangle_46">
			<rect id="Rectangle_46" rx="0" ry="0" x="0" y="0" width="371" height="363">
			</rect>
		</svg>
		<svg class="Rectangle_47">
			<rect id="Rectangle_47" rx="0" ry="0" x="0" y="0" width="371" height="363">
			</rect>
		</svg>
		<svg class="Rectangle_48">
			<rect id="Rectangle_48" rx="0" ry="0" x="0" y="0" width="371" height="363">
			</rect>
		</svg>
	</div>
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="186" height="73">
		</rect>
	</svg>
	<svg class="Rectangle_2">
		<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="474" height="73">
		</rect>
	</svg>
	<svg class="Rectangle_3">
		<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="160" height="49">
		</rect>
	</svg>
</div>
</body>
</html>